services:
  app:
    build:
      context: .
      args:
        VITE_APP_URL: https://bellitek.com.ng
    container_name: bellitek_app
    env_file:
      - .env
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: bellitek_db
    environment:
      POSTGRES_DB: bellitek
      POSTGRES_USER: bellitek_user
      POSTGRES_PASSWORD: strong_password
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db_data:
